<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="KRECreateCustMyValueView col grow">
        <div class="pad20 col width680">
            <div class="h4">First name * :</div>
            <input type="text" id="firstname" required style="text-transform:uppercase" />
            <br />
            <br />
            <div class="h4">Last name * :</div>
            <input type="text" id="lastname" required style="text-transform:uppercase"/>
            <br />
            <br />
            <div class="h4">Email <span class="required">*</span> :</div>
            <input type="email" id="email" required style="text-transform:uppercase"/>
            <br />
            <br />
            <div class="h4">Phone :</div>
            <input type="text" id="phone" />

            <div class="grow"></div>
            <div class="row"></div>
        </div>
    </div>
</body>
</html>